<div>
    <md-dialog class="dialog">
        <md-toolbar ng-show="vm.isEnableEdit === false">
            <div class="md-toolbar-tools">
                <h2>Selected Item</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.toggleEdit();">
                    <md-tooltip md-direction="left">
                        Edit Item
                    </md-tooltip>
                    <md-icon md-svg-src="icons/ic_edit_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.ItemsService.hideDialog()">
                    <md-tooltip md-direction="left">
                        Close Dialog
                    </md-tooltip>
                    <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-accent" ng-show="vm.isEnableEdit === true">
             <div class="md-toolbar-tools">
                <h2>Edit Item</h2>
                <span flex></span>
                <md-button class="md-icon-button"  ng-click="vm.toggleEdit();">
                    <md-tooltip md-direction="left">
                        Cancel Edit
                    </md-tooltip>
                    <md-icon md-svg-src="icons/ic_cancel_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <form name="form" layout="column">
                <div>
                    <div>
                    <md-input-container class="md-block">
                        <label>Item Name</label>
                        <input name="itemName" ng-model="vm.item.name" 
                            ng-change="vm.item.name = vm.item.name.toUpperCase();" 
                            type="text" required md-maxlength="50" minlength="2" ng-disabled="vm.isEnableEdit === false">
                        <div ng-messages="form.itemName.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not enter an item name</div>
                            <div ng-message="md-maxlength">The item name has to be less than 50 characters long.</div>
                            <div ng-message="minlength">The item name has to be more than 2 characters long. </div>
                        </div>
                    </md-input-container>
                    </div>
                    <div>
                    <md-input-container class="md-block">
                        <label>Item Description</label>
                        <input name="itemDescription" ng-model="vm.item.description"
                            type="text" required md-maxlength="50" minlength="5" ng-disabled="vm.isEnableEdit === false">
                        <div ng-messages="form.itemDescription.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not enter an item description</div>
                            <div ng-message="md-maxlength">The item description has to be less than 50 characters long.</div>
                            <div ng-message="minlength">The item description has to be more than 5 characters long. </div>
                        </div>
                    </md-input-container>
                    </div>
                    <div>
                    <md-input-container class="md-block">
                        <label>Item Code</label>
                        <input name="itemCode" ng-model="vm.item.code" 
                            ng-change="vm.item.code = vm.item.code.toUpperCase();"
                            type="text" required md-maxlength="15" minlength="3" ng-disabled="vm.isEnableEdit === false">
                        <div ng-messages="form.itemCode.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not enter an item code</div>
                            <div ng-message="md-maxlength">The item code has to be less than 15 characters long.</div>
                            <div ng-message="minlength">The item code has to be more than 3 characters long. </div>
                        </div>
                    </md-input-container>
                    </div>
                    <div>
                    <md-input-container class="md-block">
                        <label>Item Location</label>
                        <input name="itemLocation" ng-model="vm.item.location" type="text" 
                            required md-maxlength="50" minlength="5" ng-disabled="vm.isEnableEdit === false">
                        <div ng-messages="form.itemLocation.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not enter an item location</div>
                            <div ng-message="md-maxlength">The item location has to be less than 50 characters long.</div>
                            <div ng-message="minlength">The item location has to be more than 5 characters long. </div>
                        </div>
                    </md-input-container>
                    </div>
                    <div>
                    <md-chips name="suppliers" ng-model="vm.selectedSuppliers" md-autocomplete-snap 
                        md-autocomplete-wrap-override 
                        md-require-match="true"
                        md-removable="vm.isEnableEdit === true"
                        md-max-chips="4">
                        <md-autocomplete 
                            md-search-text="vm.searchText"
                            md-input-name="listSupplier" 
                            md-items="supplier in vm.SuppliersService.listSuppliers | filter: vm.searchText"
                            placeholder="Supplier Name"
                            md-item-text="supplier.name"
                            ng-hide="suppliers.length > 4"
                            ng-disabled="vm.isEnableEdit === false">
                            <md-item-template>
                                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{supplier.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-chip-template>
                            {{$chip.name}}
                        </md-chip-template>
                    </md-chips>
                    <div ng-messages="form.suppliers.$error" style="color:maroon" role="alert">
                        <div ng-message="md-max-chips">You reached the maximum number of suppliers.</div>
                    </div>
                    </div>
                    <div ng-if="vm.isEnableEdit === false">
                    <md-input-container class="md-block">
                        <label>Brand</label>
                        <input name="brand" ng-model="vm.item.brand.name" type="text" disabled>
                    </md-input-container>
                    </div>
                    <div ng-if="vm.isEnableEdit === true">
                    <md-input-container class="md-block">
                        <label>Brand</label>
                        <md-select name="brand" ng-model="vm.item.brand" required>
                            <md-option ng-repeat="brand in vm.BrandsService.listBrands" ng-value="brand"
                                ng-selected="vm.item.brand.name === brand.name">
                                {{brand.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="form.brand.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not choose an item brand.</div>
                        </div>
                    </md-input-container>
                    </div>
                    <div ng-if="vm.isEnableEdit === false">
                    <md-input-container class="md-block">
                        <label>Category</label>
                        <input name="category" ng-model="vm.item.category.name" type="text" disabled>
                    </md-input-container>
                    </div>
                    <div ng-if="vm.isEnableEdit === true">
                    <md-input-container class="md-block">
                        <label>Category</label>
                        <md-select name="category" ng-model="vm.item.category" required>
                            <md-option ng-repeat="category in vm.CategoriesService.listCategories" ng-value="category"
                                ng-selected="vm.item.category.name === category.name">
                                {{category.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="form.category.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not choose an item category.</div>
                        </div>
                    </md-input-container>
                    </div>
                    <div ng-if="vm.isEnableEdit === false">
                    <md-input-container class="md-block">
                        <label>Unit</label>
                        <input name="category" ng-model="vm.item.unit.name" type="text" disabled>
                    </md-input-container>
                    </div>
                    <div ng-if="vm.isEnableEdit === true">
                    <md-input-container class="md-block">
                        <label>Unit</label>
                        <md-select name="unit" ng-model="vm.item.unit" required>
                            <md-option ng-repeat="unit in vm.UnitsService.listUnits" ng-value="unit"
                                ng-selected="vm.item.unit.name === unit.name">
                                {{unit.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="form.unit.$error" style="color:maroon" role="alert">
                            <div ng-message="required">You did not choose an item unit.</div>
                        </div>
                    </md-input-container>
                    </div>
                    <div layout="row" layout-align="end end" ng-show="vm.isEnableEdit === true">
                        <md-button class="md-primary" aria-label="Open dialog" ng-click="vm.ItemsService.hideDialog();">
                            Cancel
                        </md-button>
                        <md-button class="md-primary md-raised" aria-label="Open dialog" 
                            ng-disabled="form.$invalid" ng-click="vm.editItem(vm.item);">
                            Edit Item
                        </md-button>
                    </div>
            </form>
        </md-dialog-content>
    </md-dialog>
</div>