<md-content layout="column">
    <div layout-margin>
        <md-input-container class="md-icon-float md-block">
            <label>Search</label>
            <md-icon md-svg-src="app/icons/ic_search_24px.svg" class="name"></md-icon>
            <input ng-model="vm.queryText" type="text">
        </md-input-container>
    </div>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="vm.md_query.order">
                <tr md-row>
                    <th md-column><span>No.</span></th>
                    <th md-column md-order-by="name"><span>Unit Name</span></th>
                    <th md-column><span>Action</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="unit in vm.UnitsService.listUnits | 
                        filter: vm.queryText | orderBy: vm.md_query.order | 
                        limitTo: vm.md_query.limit : (vm.md_query.page - 1) * vm.md_query.limit" md-auto-select>
                    <td md-cell>{{$index + 1}}</td>
                    <td md-cell><b>{{unit.name}}</b></td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="vm.editUnit(unit)" aria-label="edit"> 
                            <md-icon md-svg-icon="app/icons/ic_edit_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="vm.deleteUnit(unit)" aria-label="delete">
                            <md-icon md-svg-icon="app/icons/ic_delete_24px.svg"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.md_query.limit" md-limit-options="[5, 10, 15]" 
        md-page="vm.md_query.page" md-total="{{vm.UnitsService.listUnits.length}}" md-page-select>
    </md-table-pagination>

</md-content>
<div>
    <md-button class="md-primary md-fab md-fab-bottom-right" aria-label="Open dialog" ng-click="vm.showAddDialog();">
        <md-icon md-svg-src="app/icons/ic_add_24px.svg"></md-icon>
    </md-button>
</div>