.menu{
    margin: 0px 10px 0px 10px;
}

.dialog{
    width: 800px;
    height: 500px;
}

.md-button.md-fab.md-fab-bottom-right{
    position: fixed;
}

md-toast{
    position: fixed;
}

.icon-on-input{
    display:inline-block;
}

.icon-on-input:hover{
    cursor: pointer;
}

.span-anchor:hover{
    cursor: pointer;
}