<div>
    <md-dialog class="dialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Category</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.hideDialog()">
                    <md-icon md-svg-src="app/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
            <form layout="column">
                <div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Category Name</label>
                            <input ng-model="vm.category.Name" type="text">
                        </md-input-container>
                    </div>
                </div>

                <div layout="column" layout-align="end end">
                    <md-button class="md-primary md-raised" aria-label="Open dialog" ng-click="vm.addCategory(vm.category)">Add Category</md-button>
                </div>
            </form>
        </md-dialog-content>
    </md-dialog>
</div>