<div>
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSideNav();">
          <md-icon md-svg-icon="icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{vm.DashboardService.state.name}}</span>
        </h2>
        <span flex></span>
        <div layout="row">
          <div>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.comingSoon();">
              <md-icon md-svg-icon="icons/ic_notifications_24px.svg"></md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </md-toolbar>
  </md-content>
  <div sidenav-Watcher-Directive>
    <md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-whiteframe="4">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2>
            <span>Menus</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSideNav();">
            <md-icon md-svg-icon="icons/ic_arrow_back_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div>
        <md-list>
          <md-list-item ui-sref="dashboard">
            <p> Home </p>
          </md-list-item>
          <md-list-item ui-sref="dashboard.items">
            <p> Items </p>
          </md-list-item>
          <md-list-item ui-sref="dashboard.brands">
            <p> Brands </p>
          </md-list-item>
          <md-list-item ui-sref="dashboard.categories">
            <p> Categories </p>
          </md-list-item>
          <md-list-item ui-sref="dashboard.units">
            <p> Units </p>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item ui-sref="dashboard.suppliers">
            <p> Suppliers </p>
          </md-list-item>
          <md-list-item ui-sref="dashboard.stocks">
            <p> Stocks </p>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item ng-click="vm.comingSoon();">
            <p> Settings </p>
          </md-list-item>
          <md-list-item ng-click="vm.comingSoon();">
            <p> About </p>
          </md-list-item>

        </md-list>
      </div>
    </md-sidenav>
  </div>

  <div ui-view>
    
    <!--<md-card ng-show="vm.hasLowStocks">
      <md-card-content>
        <highchart id="chart1" config="vm.chartConfig"></highchart>
      </md-card-content>
    </md-card>-->
    <highchart id="chart1" config="vm.chartConfig"></highchart>

<!--
    <div ng-hide="vm.hasLowStocks">
      <md-card>
        <md-card-content layout="column" layout-align="center center">
          <img ng-src="images/empty_state.png">
        </md-card-content>
        <md-card-footer layout="column" layout-align="center center">
          <span class="md-title"> Everything is up to date! You have no low stocks. </span>
        </md-card-footer>
      </md-card>
    </div>-->
    
  </div>
</div>