<div>
    <md-dialog class="dialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Stock</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.StocksService.hideDialog()">
                    <md-tooltip md-direction="left">
                       Close Dialog
                    </md-tooltip>
                    <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
            <form name="form" layout="column">
                <div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Item</label>
                            <md-select name="item" ng-model="vm.stock.item" md-on-open="vm.loadItems();" required> 
                                <md-option ng-repeat="item in vm.ItemsService.listItems | orderBy: 'name'" ng-value="item">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="form.item.$error" style="color:maroon" role="alert">
                                <div ng-message="required">You did not choose an item.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Current Stocks</label>
                            <input name="currentStocks" ng-model="vm.stock.item.totalStocks" type="text" disabled>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Quantity</label>
                            <md-select name="quantity" ng-model="vm.stock.quantity" md-on-open="vm.generateQuantity();" required>
                                <md-option ng-repeat="no in vm.quantity" ng-value="no">
                                    {{no}}
                                </md-option>
                            </md-select>
                            <div ng-messages="form.quantity.$error" style="color:maroon" role="alert">
                                <div ng-message="required">You did not choose a quantity for your item.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-radio-group  ng-model="vm.stock.stockIn" ng-required="true">

                            <md-radio-button ng-value="{{true}}">Stock In</md-radio-button>
                            <md-radio-button ng-value="{{false}}">Stock Out</md-radio-button>

                        </md-radio-group>
                    </div>
                </div>

                <div layout="column" layout-align="end end">
                    <md-button class="md-primary md-raised" aria-label="Open dialog" ng-disabled="form.$invalid"
                    ng-click="vm.addStock(vm.stock)">Add Stock</md-button>
                </div>
            </form>
        </md-dialog-content>
    </md-dialog>
</div>