<div>
    <md-dialog class="dialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Unit</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.UnitsService.hideDialog()">
                    <md-tooltip md-direction="left">
                        Close Dialog
                    </md-tooltip>
                    <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
            <form name="form" layout="column">
                <div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Unit Name</label>
                            <input name="unitName" ng-model="vm.unit.name" type="text" required md-maxlength="10" minlength="2"/>
                            
                            <div ng-messages="form.unitName.$error" style="color:maroon" role="alert">
                                <div ng-message="required">You did not enter a unit name</div>
                                <div ng-message="md-maxlength">The unit name has to be less than 10 characters long.</div>
                                <div ng-message="minlength">The unit name has to be more than 2 characters long. </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <div layout="column" layout-align="end end">
                    <md-button class="md-primary md-raised" aria-label="Open dialog" ng-disabled="form.$invalid"
                    ng-click="vm.editUnit(vm.unit)">Edit Unit</md-button>
                </div>
            </form>
        </md-dialog-content>
    </md-dialog>
</div>