<md-content layout="column">
    <div layout-margin>
        <md-input-container class="md-icon-float md-block">
            <label>Search</label>
            <md-icon md-svg-src="app/icons/ic_search_24px.svg" class="name"></md-icon>
            <input ng-model="vm.queryText" type="text">
        </md-input-container>
    </div>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>No.</span></th>
                <th md-column md-order-by="nameToLower"><span>Brand Name</span></th>
                <th md-column md-order-by="nameToLower"><span>Action</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-auto-select ng-repeat="brand in vm.BrandsService.listBrands | filter: vm.queryText">
                <td md-cell>{{$index + 1}}</td>
                <td md-cell>{{brand.name}}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.editBrand(brand)">
                        <md-icon md-svg-icon="app/icons/ic_edit_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.deleteBrand(brand)">
                        <md-icon md-svg-icon="app/icons/ic_delete_24px.svg"></md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>

</md-content>
<div>
    <md-button class="md-primary md-fab md-fab-bottom-right" aria-label="Open dialog" ng-click="vm.showAddDialog();">
        <md-icon md-svg-src="app/icons/ic_add_24px.svg"></md-icon>
    </md-button>
</div>